{% extends 'base.html' %}
{% load static %}

{%  block content %}

<div class="container-fluid px-0 py-5" id="our-course">
    <div class="row mx-0 justify-content-center pt-5">
        <div class="col-lg-6">
            <div class="section-title text-center position-relative mb-4">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Our Courses</h6>
                <h1 class="display-4">Checkout New Releases Of Our Courses</h1>
            </div>
        </div>
    </div>
    <div class="">
            <div class="cards">
               
                <a href="#register" id="html">
                    <div class="card-items" style="background-color: rgb(3, 107, 121);">
                        <h2>HTML/CSS/BOOTSTRAP</h2>
                    </div>
                </a>
          

            <a href="#register" id="react" >
                <div class="card-items" style="background-color: rgb(156, 194, 18);">
                    <h2>FRONTEND (REACT JS)</h2>
                </div>
            </a>
                
               <a href="#register" id="python">
                    <div class="card-items bg-secondary">
                        <h2>PYTHON</h2>
                    </div>
               </a>

                
            </div>

            <div class="cards">
                <a href="#register" id="science" >
                    <div class="card-items" style="background-color: rgb(70, 167, 134);">
                        <h2>DATA SCIENCE</h2>
                    </div>
                </a>

                <a href="{% url 'django' %}" id="web" >
                    <div class="card-items" style="background-color: rgb(95, 8, 88);">
                        <h2>PYTHON WEB DEVELOPMENT</h2>
                    </div>
                </a>

                <a href="#register" id="data" >
                    <div class="card-items" style="background-color: rgb(103, 52, 151);">
                        <h2>DATA ANALYSIS</h2>
                    </div>
                </a>
            </div>
        </div>
       
    </div>
       </div>
</div>


<script>

</script>
{% endblock %}
